/**********************************************
		  Styles For All Pages/Fonts
**********************************************/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    overflow: hidden;
}

body {
	background: rgb(69,59,89);
    background: linear-gradient(0deg, rgba(69,59,89,1) 4%, rgba(38,49,66,1) 13%, rgba(0,0,0,1) 39%);
}

@font-face {
	font-family: "Alliance1Light";
	src: url(/assets/fonts/AllianceNo1-Light.ttf);
}

@font-face {
	font-family: "Alliance1ExtraBold";
	src: url(/assets/fonts/AllianceNo1-ExtraBold.ttf);
}

@font-face {
	font-family: "Alliance1Regular";
	src: url(/assets/fonts/AllianceNo1-Regular.ttf);
}

/**********************************************
				Landing Page
**********************************************/

.landing-title{
	font-family: "Alliance1ExtraBold";
	margin-bottom: 5px;
	color: white;
}

.landing-text{
	font-family: "Alliance1Light";
	color: gray;
}

.fade-in {
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
        position: relative;
        transform: translateY(150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeSent {
	from {
        opacity: 0;
        position: relative;
        transform: translateX(-150px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeReceived {
	from {
        opacity: 0;
        position: relative;
        transform: translateX(150px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/**********************************************
		       End Landing Page
**********************************************/

/**********************************************
		        Chatrooms Page
**********************************************/

.title {
	font-family: "Alliance1Light";
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.hidden {
    display: none;
}

.form-group {
    margin-bottom: 15px;
}

input {
    padding-left: 10px;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.7em;
}

a {
    color: #128ff2;
}

button {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
}

.username-page-container {
    padding: 1% 2%;
    font-family: "Alliance1Regular";
}

#chat-page {
	height: 80vh;    
	margin-top: 5%;
}

.chat-container {
    width: 55%;
}

#chat-page ul {
    list-style-type: none;
    margin: 0;
   	overflow-y: scroll;
    padding: 0 20px 0px 20px;
    height: 50vh;
}

#chat-page #messageForm {
    padding: 20px;
}

#chat-page ul li {
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    margin-bottom: 3px;
}

#chat-page ul li p {
    margin: 0;
}

#chat-page .event-message {
    width: 100%;
    text-align: center;
    clear: both;
}

#chat-page .event-message p {
    color: #777;
    font-size: 14px;
    word-wrap: break-word;
}


#chat-page .chat-message span {
    color: black;
    font-weight: 600;
}

#chat-page .chat-message p {
    color: black;
    font-weight: 300;
}

#messageForm .input-group input {
    float: left;
    width: calc(100% - 85px);
}

#messageForm .input-group button {
    float: left;
    width: 80px;
    height: 38px;
    margin-left: 5px;
}

.chat-header {
    text-align: center;
    padding: 15px;
}

.chat-header h2 {
    margin: 0;
    font-weight: 500;
}

.connecting {
    padding-top: 5px;
    text-align: center;
    color: #777;
    position: absolute;
    top: 65px;
    width: 100%;
}


@media screen and (max-width: 730px) {

    .chat-container {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .chat-container {
        height: calc(100% - 30px);
    }

    .username-page-container {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
        padding: 25px;
    }

    #chat-page ul {
        height: calc(100% - 120px);
    }

    #messageForm .input-group button {
        width: 65px;
    }

    #messageForm .input-group input {
        width: calc(100% - 70px);
    }

    .chat-header {
        padding: 10px;
    }

    .connecting {
        top: 60px;
    }

    .chat-header h2 {
        font-size: 1.1em;
    }
}


/* online number */
.online-number {
    color: green;
}

.right{
    background-color:#ee706e;
    /* float:right; */
}

