/**********************************************
		  Styles For All Pages/Fonts
**********************************************/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	background: rgb(69,59,89);
    background: linear-gradient(0deg, rgba(69,59,89,1) 4%, rgba(38,49,66,1) 13%, rgba(0,0,0,1) 39%);
}

@font-face {
	font-family: "Alliance1Light";
	src: url(/assets/fonts/AllianceNo1-Light.ttf);
}

@font-face {
	font-family: "Alliance1Regular";
	src: url(/assets/fonts/AllianceNo1-Regular.ttf);
}

@font-face {
	font-family: "Alliance1Bold";
	src: url(/assets/fonts/AllianceNo1-Bold.ttf);
}

@font-face {
	font-family: "Alliance1ExtraBold";
	src: url(/assets/fonts/AllianceNo1-ExtraBold.ttf);
}

/**********************************************
				   Navbar
**********************************************/

.navbar{
	--bs-navbar-toggler-padding-x: 0;
}

.navbar-nav{
	background-color: #ffffff80;
	border-radius: 10px;
}

.navbar-nav .nav-item{
	border-radius: 10px;
}

.navbar-nav .nav-item:hover{
	background-color: #2125297d;
}

/**********************************************
				 End Navbar
**********************************************/

/**********************************************
				Landing Page
**********************************************/

.styled-heading{
	font-family: "Alliance1ExtraBold";
	margin-bottom: 5px;
	color: white;
}

.styled-text{
	font-family: "Alliance1Light";
	color: gray;
}

.styled-button{
	font-family: "Alliance1Bold";
	color: black;
}

.fade-in {
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
        position: relative;
        transform: translateY(150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeSent {
	from {
        opacity: 0;
        position: relative;
        transform: translateX(-150px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeReceived {
	from {
        opacity: 0;
        position: relative;
        transform: translateX(150px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/**********************************************
		       End Landing Page
**********************************************/

/**********************************************
		        Chatroom Page
**********************************************/

.hidden {
    display: none;
}

a {
    color: #128ff2;
}

.username-page-container {
    padding: 1% 2%;
    /*  font-family: "Alliance1Regular"; */
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.username-page-container::-webkit-scrollbar { 
    display: none;
}

.event-message {
	color: grey;
}

.chat-message {
	padding: 5px;
	margin-bottom: 15px;
	border-radius: 15px;
}

#chat-page ul {
	list-style-type: none;
    margin: 0;
   	overflow-y: scroll;
    padding: 0 20px;
    height: 65vh;
}
	
#chat-page .chat-message span{
	font-family: "Alliance1Bold";
}

#chat-page .chat-message p {
    font-weight: 300;
    margin-bottom: 0;
}

#message, .username{
	font-family: "Alliance1Regular";
}

/**********************************************
		      End Chatroom Page
**********************************************/

/**********************************************
		       Chatrooms Page
**********************************************/


.petsAnimals{background-image:url("https://s28151.pcdn.co/wp-content/uploads/sites/2/2022/03/Coyote-animal-sentience-research.jpg");}
.healthNutrition{background-image:url("https://lancaster.unl.edu/styles/unl_hero_large/public/images/hero/iStock-615522818_0.jpg?itok=OaB1Ci-f")}
.anime{background-image:url("https://play-lh.googleusercontent.com/nCVVCbeSI14qEvNnvvgkkbvfBJximn04qoPRw8GZjC7zeoKxOgEtjqsID_DDtNfkjyo")}
.foodRecipes{background-image:url("https://www.tasteofhome.com/wp-content/uploads/2018/01/Turkey-Shepherd-s-Pie_EXPS_FT21_20678_F_0730_1.jpg?fit=700,700")}
.videogames{background-image:url("https://image.api.playstation.com/vulcan/ap/rnd/202010/1512/8ThoZrE519SBuOMpYKFunYS0.png")}
.horticulture{background-image:url("https://www.zimbabwesituation.com/wp-content/uploads/2022/03/Interior-view-commercial-horticulture-greenhouse.jpg")}
.music{background-image:url("https://media.wired.com/photos/60301ad14b4db703b8c6db1c/16:9/w_2399,h_1349,c_limit/Gear-Music-Apps-Subscrips-1141254399.jpg")}
.gayPride{background-image:url("https://www.foodbanknyc.org/wp-content/uploads/2018/06/pride1_sm.jpg")}
.photography{background-image:url("https://dvyvvujm9h0uq.cloudfront.net/com/articles/1543483387-reinhart-julian-1145947-unsplash.jpg")}
.sports{background-image:url("https://static01.nyt.com/images/2021/12/11/multimedia/11sp-sports-year-inyt3/11sp-sports-year-inyt3-superJumbo.jpg")}
.comedy{background-image:url("https://static.independent.co.uk/2021/10/08/13/newFile-7.jpg?quality=75&width=1200&auto=webp")}
.veterans{background-image:url("https://www.rider.edu/sites/default/files/2021-07/110719_veterans_057.JPG")}
.crypto{background-image:url("https://paxful.com/university/static/bf70ef23f8db52c26a4ee0da4782e069/0f3a6/What-is-Ethereum.webp")}
.history{background-image:url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Parthenon_%2830276156187%29.jpg/1200px-Parthenon_%2830276156187%29.jpg")}
.parenthood{background-image:url("https://media.npr.org/assets/img/2021/09/16/gettyimages-1306684625_wide-cc63f58d46e9e45f840a64299d7944d9cc4abf10-s1100-c50.jpg")}

.category-selector{
	margin-bottom: 50px;
}

.category-selector input{
	margin: 0;
	padding: 0;
    appearance:none;
    -moz-appearance:none;
	-webkit-appearance:none;
}

.category-image{
	cursor:pointer;
    background-size:cover;
    background-repeat:no-repeat;
    display:inline-block;
    border-radius: 20px;
    width:200px;height:200px;
    
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    
    -webkit-filter: brightness(1) grayscale(1) opacity(.7);
    -moz-filter: brightness(1) grayscale(1) opacity(.7);
    filter: brightness(1) grayscale(1) opacity(.7);
      
}

.category-selector input:active +.category-image{opacity: .9;}
.category-selector input:checked +.category-image{
    -webkit-filter: drop-shadow(5px 5px 5px #18bef9);
    -moz-filter: drop-shadow(5px 5px 5px #18bef9);
    filter: drop-shadow(3px 3px 3px #18bef9);
}

.category-image:hover{
    transform: scale(1.05);
    
    -webkit-filter: brightness(1) grayscale(.1) opacity(.8);
    -moz-filter: brightness(1) grayscale(.1) opacity(.8);
    filter: brightness(1) grayscale(.1) opacity(.8);
}

.label-text:hover{
	display: block;
}

.chatrooms-submit {
	color: white;
	background-color: #4153fdb0;
}

.chatrooms-submit:hover{
	background-color: #4153fdb0;
}

.user-submit {
	color: white;
	background-color: #055160;
}
.user-submit:hover{
	background-color: #055160;
}


/**********************************************
		     End Chatrooms Page
**********************************************/

/**********************************************
		         Friends Page
**********************************************/

.list-group {
	--bs-list-group-item-padding-x: .5rem;
}

/**********************************************
		       End Friends Page
**********************************************/


/**********************************************
		   Sizing Utility Classes
**********************************************/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.w-sm-100 {
		width:100%!important;
	}
	.w-sm-75 {
		width:75%!important;
	}
	.w-sm-50 {
		width:50%!important;
	}
	.w-sm-25 {
		width:25%!important;
	}
	.h-sm-100 {
		height:100%!important;
	}
	.h-sm-75 {
		height:75%!important;
	}
	.h-sm-50 {
		height:50%!important;
	}
	.h-sm-25 {
		height:25%!important;
	}
	
	.bg-sm-transparent{
		background-color: transparent;
	}
	.navbar-nav .nav-item:hover{
		background-color: transparent;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.w-md-100 {
		width:100%!important;
	}
	.w-md-75 {
		width:75%!important;
	}
	.w-md-50 {
		width:50%!important;
	}
	.w-md-25 {
		width:25%!important;
	}
	.w-md-21 {
		width:21%!important;
	}
	.h-md-100 {
		height:100%!important;
	}
	.h-md-75 {
		height:75%!important;
	}
	.h-md-50 {
		height:50%!important;
	}
	.h-md-25 {
		height:25%!important;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.w-lg-100 {
		width:100%!important;
	}
	.w-lg-75 {
		width:75%!important;
	}
	.w-lg-62 {
		width:62%!important;
	}
	.w-lg-50 {
		width:50%!important;
	}
	.w-lg-32 {
		width:32%!important;
	}
	.w-lg-25 {
		width:25%!important;
	}
	.w-lg-16 {
		width:16%!important;
	}
	.h-lg-100 {
		height:100%!important;
	}
	.h-lg-75 {
		height:75%!important;
	}
	.h-lg-50 {
		height:50%!important;
	}
	.h-lg-25 {
		height:25%!important;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.w-xl-100 {
		width:100%!important;
	}
	.w-xl-75 {
		width:75%!important;
	}
	.w-xl-50 {
		width:50%!important;
	}
	.w-xl-25 {
		width:25%!important;
	}
	.w-xl-14 {
		width:14%!important;
	}
	.h-xl-100 {
		height:100%!important;
	}
	.h-xl-75 {
		height:75%!important;
	}
	.h-xl-50 {
		height:50%!important;
	}
	.h-xl-25 {
		height:25%!important;
	}
}

@media (min-width: 1400px) {
	.w-xxl-100 {
		width:100%!important;
	}
	.w-xxl-75 {
		width:75%!important;
	}
	.w-xxl-50 {
		width:50%!important;
	}
	.w-xxl-25 {
		width:25%!important;
	}
	.w-xxl-12 {
		width:12%!important;
	}
	.h-xxl-100 {
		height:100%!important;
	}
	.h-xxl-75 {
		height:75%!important;
	}
	.h-xxl-50 {
		height:50%!important;
	}
	.h-xxl-25 {
		height:25%!important;
	}
}
